<div class="col-md-12">
    <table class="table">
        <thead>
        <tr>
            {{#each properties as |property|}}
                <th>{{property}}</th>
            {{/each}}
        </tr>
        </thead>
        <tbody>
        {{#each models as |model|}}
            <tr>
                {{#each properties as |property|}}
                    <td>{{get model property}}</td>
                {{/each}}
                <td>{{#link-to editRoute model}}
                    {{t 'a.edit'}}
                {{/link-to}}</td>
                <td>{{#link-to deleteRoute model}}
                    {{t 'a.delete'}}
                {{/link-to}}</td>
            </tr>
        {{else}}
            <tr class="bg-info text-center">
                {{t "info.nothing"}}
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
