<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h4 class="h4">{{model.name}}</h4>
    <h4 class="h4">{{model.isH1}}</h4>
  <h1 {{action "toggleProperty" "isH1"}} class="{{if isH1 "h1" "h5"}}">{{model.class}}</h1>
  </div>
</div>